body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-weight: 500;
}

a:link {
    color: var(--link-normal-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

nav {
    height: 130px;
    border-bottom: 5px solid var(--rule-color);
    margin: -10px -10px 0px -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 8em 0 8rem;
}

.nav-overlay {
    position: absolute;
    background-color: black;
    opacity: 0.4;
    height: 128px;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

.search-icon {
    cursor: pointer;
    fill: var(--text-color);
    vertical-align: top;
    z-index: 1;
}

div.title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 5rem;
    text-wrap: nowrap;
    z-index: 1;
}

div.search {
    z-index: 1;
}

div.mobile-search {
    z-index: 1;
}

div.search button {
    fill: var(--text-color);
    vertical-align: top;
    padding: none;
    border: none;
}

.breadcrumbs {
    margin: 0px -10px 20px -10px;
    background-color: var(--box-color);
    padding: 6px 0px 6px 6em;
    border-bottom: 2px solid var(--rule-color);
}

.breadcrumbs .crumb::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none' stroke='%23969696' stroke-width='2' stroke-linecap='round' stroke-linejoin='round%5C'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    padding: 10px;
}

.breadcrumbs .home {
    padding-left: 0;
}

img, video {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

code {
    font-family: monospace;
    font-size: 100%;
    background-color: #2b2b2b;
    border: 1px solid rgb(102, 120, 162);
}

pre code {
    border-radius: 5px;
    border: none;
    border-left: 5px solid var(--border-color);
}

blockquote {
    margin: 5px 5px 2rem 5px;
    background: var(--block-color);
    border-left: 5px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
}

blockquote.dialog {
    font-size: 1.8rem;
}

blockquote p {
    margin-bottom: 2rem;
}

blockquote p:last-child {
    margin-bottom: 5px;
}

hr {
    width: 90%;
}

.nine.columns ul, ol {
    padding-left: 1em;
}

li {
    line-height: 1.3;
}

td, th {
    margin: 10px;
    border: none;
    box-shadow: 0 0 0 1px var(--shade-color);
    vertical-align: top;
}

th {
    background-color: var(--shade-color);
}

tr:nth-child(even) {
    background-color: var(--even-row-color);
}

tr:nth-child(odd) {
    background-color: var(--odd-row-color);
}

.highlight {
    background-color: var(--highlight-color);
    color: var(--border-color);
    padding: 3px;
}

.sidebar ul {
    list-style: disc inside;
}

.sidebar ul.files {
    list-style-image: url("/home/assets/document.svg");
}

.sidebar ul.folders {
    list-style-image: url("/home/assets/folder.svg");
    margin-bottom: 1em;
}

.sidebar span.anchors ul {
    list-style-image: url("/home/assets/hash.svg");
}

.linkbox {
    border-radius: 5px;
    border-left: 5px solid var(--border-color);
    background-color: var(--box-color);
    padding: 1em;
}

.linkbox p {
    margin-bottom: 1em;
}

@media screen and (max-width: 550px) {
    nav {
        padding: 0 1em 0 1em;
    }
    div.title {
        font-size: 3rem;
    }
    div.search {
        display: none;
    }
    .breadcrumbs {
        padding: 4px 1em 4px 2em;
    }
    .breadcrumbs .crumb::before {
        padding: 0 6px 0 3px;
    }
    }

@media (min-width: 550px) {
    .sidebar {
        padding: 1em;
    }
    .linkbox {
        width: 100%;
    }
    div.mobile-search {
        display: none;
    }
}
