body {
    background-color: rgb(53, 53, 53);
    color: rgb(210, 208, 208);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(136, 160, 216);
    font-weight: 500;
}

a:link {
    color: rgb(155, 193, 245);
    text-decoration: none;
}

a:visited {
    color: rgb(90, 165, 145)
}

a:hover {
    color: rgb(120, 210, 165)
}

nav {
    height: 130px;
    background-color: rgb(30, 30, 30);
    border-bottom: 5px solid black;
    margin: -10px -10px 16px -10px;
}

nav div {
    display: flex;
    height: 140px;
    margin-left: 2em;
    align-items: center;
}

/*
.flex-container {
    display: flex;
}

span.title {
    text-align: left;
}

span.menu {
    text-align: right;
}
*/

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

code {
    font-family: monospace;
    font-size: 100%;
    background-color: rgb(45, 53, 73);
    border: 1px solid rgb(102, 120, 162);
}

pre code {
    border-radius: 5px;
    border: none;
    border-left: 5px solid black;
}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 10px;
    background: rgb(44,44,44);
    border-radius: 5px;
    border-left: 5px solid black;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

li {
    line-height: 1.3;
}

td, th {
    margin: 10px;
    border: none;
    box-shadow: 0 0 0 1px rgb(30, 30, 30);
}

th {
    background-color: rgb(30, 30, 30);
}

tr:nth-child(even) {
    background-color: rgb(45, 53, 73);
}

tr:nth-child(odd) {
    background-color: rgb(62, 72, 101);
}

.sidebar {
    padding: 1em;
}

.sidebar ul {
    list-style: circle inside;
}

.linkbox {
    border-radius: 5px;
    border-left: 5px solid black;
    background-color: rgb(44,44,44);
    padding: 1em;
    width: 100%;
}

.linkbox p {
    margin-bottom: 1em;
}