<span class="menu-anchor">
  <button class="menu-button" onclick="showNavMenu()">
    <img src="/icon/menu-outline.svg" id="menu-button" width="28" height="28" aria-label="Menu" alt="Menu">
  </button>
  <div id="myDropdown" class="dropdown-content">
    <button onclick="window.location.href='/home/index.md';">Home</button>
    <button onclick="window.location.href='/home/tests/index.md';">Tests</button>
    <button onclick="window.location.href='/home/subfolder/index.md';">Subfolder</button>
  </div>
</span>
