{% include "header.html" %}
{% include "breadcrumbs.html" %}
<div class="container">
    <div class="row">
        <div class="nine columns">
            {{body}}
        </div>
        <div class="three columns">
            <div class="sidebar">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var quotes = document.querySelectorAll("blockquote");
        quotes.forEach((q) => {
            q.className = 'dialog';
            var prev = q.previousElementSibling;
            if (prev.tagName == "P") {
            prev.className = "speaker";
            }
            else {
            console.log(`Prev: ${prev.tagName}`);
            }
        });
    });
</script>
{% include "footer.html" %}
