<footer>
  {% include "site-footer.html" %}
  <span id="server-timing"></span>
  <script>
    const {serverTiming} = performance.getEntriesByType('navigation')[0];
    if (serverTiming) {
      serverTiming.forEach((timing) => {
        if (timing.name == "total") {
          var dur = timing.duration;
          var desc = timing.description;
          if (dur != null && desc != null) {
            document.getElementById("server-timing").innerHTML = `Response: ${dur} ms ${desc}`;
          }
        }
      });
    }
  </script>
</footer>
</body>
</html>
