{{> header }}
<div class="breadcrumbs">
    {{{breadcrumbs}}}
</div>
<div class="container">
    <div class="row">
        <div class="nine columns">
          {{#if (gt peers_len 0)}}
            <h1>Index of {{path}}</strong></h1>
            {{{peers}}}
          {{/if}}
        </div>
    </div>
</div>
{{> footer }}
