<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/chimera.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/an-old-hope.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/rust.min.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="ten columns">
                {{{body}}}
            </div>
            <div class="two columns">
                <div class="sidebar sticky">
                    <div class="linkbox">
                        <p>
                            <strong>Within this document:</strong>
                        </p>
                        <ul>
                        {{#each doclinks}}
                            <li><a href="{{anchor}}">{{name}}</a></li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>