<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chimera markdown</title>
    <link rel="stylesheet" href="/templates/skeleton.css">
    <link rel="stylesheet" href="/templates/chimera.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="two columns">
                Sidebar!
            </div>
            <div class="ten columns">
                {{{body}}}
            </div>
        </div>
    </div>
  </body>
</html>