<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/chimera.css">
    {{{code_js}}}
  </head>
  <body>
    <nav>
        <div class="row">
            <div class="three columns">
                <a href="/"><h1>{{{site_title}}}</h1></a>
            </div>
            <div class="nine columns">
                <form action="/search" method="get">
                    <!-- id for javascript, name for form submit -->
                    <input id="query" name="query" type="search" placeholder="Search...">
                    <button type="submit">?</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="nine columns">
                {{{body}}}
            </div>
            <div class="three columns">
                <div class="sidebar">
                    <p>
                        <div class="linkbox">
                            <p>
                                <strong>Within this document:</strong>
                            </p>
                            <ul>
                            {{#each doclinks}}
                                <li><a href="#{{anchor}}">{{name}}</a></li>
                            {{/each}}
                            </ul>
                        </div>
                    </p>
                    <p>
                        {{#if (gt num_files 0)}}
                        <div class="linkbox">
                            <p>
                                <strong>Other documents:</strong>
                            </p>
                            <ul>
                            {{#each file_list}}
                                <li><a href="{{anchor}}">{{name}}</a></li>
                            {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>