{{> header }}
<div class="container">
    <div class="row">
        <div class="nine columns">
            <p>
                <h1>Search results for: "{{query}}"</h1>
            </p>
            <ol>
            {{#each results}}
                <li>
                    <p><a href="{{link}}">{{title}}</a></p>
                    <p>{{{snippet}}}</p>
                </li>
            {{/each}}
            </ol>
            {{#if (eq num_results 0)}}
                <p>
                    No results found. You can try using operators to refine your query:
                    <ul>
                        <li>Boolean operators: <b>cookie AND monster</b>, <b>cookie OR monster</b></li>
                        <li>Required terms: <b>+cookie +monster</b></li>
                        <li>Excluded terms: <b>cookie -monster</b></li>
                        <li>Phrases: <b>"cookie monster"</b></li>
                    </ul>
                </p>
            {{/if}}
        </div>
        <div class="three columns">
        </div>
    </div>
</div>
{{> footer }}
