                <p>
                    <div class="linkbox">
                        <p>
                          <strong>Within this document:</strong>
                        </p>
                        <span class="anchors">
                        {{{doclinks}}}
                        </span>
                    </div>
                <p>
                    {{#if (or (gt peers_len 0) (gt folders_len 0))}}
                    <div class="linkbox">
                      <p>
                        <strong>Other documents:</strong>
                      </p>
                      <ul class="folders">
                      {{#if (gt folders_len 0)}}
                        {{{folders}}}
                      {{/if}}
                      </ul>
                      <ul class="files">
                      {{#if (gt peers_len 0)}}
                        {{{peers}}}
                      {{/if}}
                      </ul>
                    </div>
                    {{/if}}
