                <p>
                    <div class="linkbox">
                        <p>
                            <strong>Within this document:</strong>
                        </p>
                        {{{doclinks}}}
                    </div>
                <p>
                    {{#if (gt peers_len 0)}}
                    <div class="linkbox">
                        <p>
                            <strong>Other documents:</strong>
                        </p>
                        {{{peers}}}
                    </div>
                    {{/if}}
