                <p>
                    <div class="linkbox">
                        <p>
                          <strong>Within this document:</strong>
                        </p>
                        <span class="anchors">
                        {{doclinks}}
                        </span>
                    </div>
                <p>
                    {% if peer_files or peer_folders -%}
                    <div class="linkbox">
                      <p>
                        <strong>Other documents:</strong>
                      </p>
                      {% if peer_folders -%}
                      <ul class="folders">
                        {% for folder in peer_folders -%}
                          <li><a href="{{folder.anchor | urlencode}}">{{folder.name}}</a></li>
                        {% endfor -%}
                      </ul>
                      {% endif -%}
                      {% if peer_files and peer_folders -%}
                      <hr/>
                      {% endif -%}

                      {% if peer_files -%}
                      <ul class="files">
                        {% for file in peer_files -%}
                          <li><a href="{{file.anchor | urlencode}}">{{file.name}}</a></li>
                        {% endfor -%}
                      </ul>
                      {% endif -%}
                    </div>
                    {% endif -%}
