                <p>
                    <div class="linkbox">
                        <p>
                          <strong>Within this document:</strong>
                        </p>
                        <span class="anchors">
                        {{doclinks}}
                        </span>
                    </div>
                <p>
                    {% if peers or folders %}
                    <div class="linkbox">
                      <p>
                        <strong>Other documents:</strong>
                      </p>
                      {% if folders %}
                      <ul class="folders">
                        {{folders}}
                      </ul>
                      {% endif %}
                      {% if peers and folders %}
                      <hr/>
                      {% endif %}
                      {% if peers %}
                      <ul class="files">
                        {{peers}}
                      </ul>
                      {% endif %}
                    </div>
                    {% endif %}
