                <p>
                    <div class="linkbox">
                        <p>
                            <strong>Within this document:</strong>
                        </p>
                        {{{doclinks}}}
                    </div>
                <p>
                    {{#if (or (gt peers_len 0) (gt folders_len 0))}}
                    <div class="linkbox">
                        {{#if (gt folders_len 0)}}
                        <p>
                            <strong>Folders:</strong>
                        </p>
                        {{{folders}}}
                        {{/if}}

                        {{#if (gt peers_len 0)}}
                        <p>
                            <strong>Other documents:</strong>
                        </p>
                        {{{peers}}}
                        {{/if}}
                    </div>
                    {{/if}}
