<span class="navbar">
<div class="breadcrumbs">
  {% for crumb in breadcrumbs -%}
    {% if loop.first -%}
    <span class="home"><a href="{{crumb.url}}">{{crumb.name}}</a></span>
    {% elif loop.last-%}
    <span class="crumb">{{crumb.name}}</span>
    {% else -%}
    <span class="crumb"><a href="{{crumb.url}}">{{crumb.name}}</a></span>
    {% endif -%}
  {% endfor -%}
</div>
{% if menu -%}
<span class="menu-anchor">
  <button class="menu-button" onclick="showNavMenu()">
    <img src="/icon/menu-outline.svg" id="menu-button" width="28" height="28" aria-label="Menu" alt="Menu">
  </button>
  <div id="myDropdown" class="dropdown-content">
    {% for menu_item in menu -%}
    <button onclick="window.location.href='{{menu_item.target}}';">{{menu_item.title}}</button>
    {% endfor -%}
  </div>
</span>
{% endif -%}
</span>
