{% if doclinks -%}
<div class="linkbox">
  <p>
    <strong>Within this document:</strong>
  </p>
  <div class="anchors">
    <ul>
    {% set_global last_level = 1 -%}
    {% for link in doclinks -%}
      {% if last_level < link.level -%}
      <ul>
        {% set_global last_level = link.level -%}
      {% else -%}
        {% for i in range(end=6) -%}
          {% if last_level == link.level %}{% break %}{% endif -%}
      </li></ul>
          {% set_global last_level = last_level - 1 -%}
        {% endfor -%}
      {% endif -%}
        <li><a href="#{{link.anchor}}">{{link.name}}</a>
    {% endfor -%}
    {% for i in range(end=6) -%}
      {% if last_level == 1 %}{% break %}{% endif -%}
        </li></ul>
      {% set_global last_level = last_level - 1 -%}
    {% endfor -%}
    </ul>
  </div>
</div>
{% endif -%}
