body {
    background-color: rgb(53, 53, 53);
    color: rgb(210, 208, 208);
}

a:link {
    color: rgb(155, 193, 245)
}

a:visited {
    color: rgb(136, 160, 216)
}

a:hover {
    color: rgb(90, 165, 108)
}

img {
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 100%;
}

code {
    background-color: rgb(45, 53, 73);
    border: 1px solid rgb(0, 0, 0);
    font-family: monospace;
    font-size: 100%;
}

blockquote {
    margin: 0;
}
  
blockquote p {
    padding: 10px;
    background: #4c5353;
    border-radius: 5px;
    border-left: 5px solid black;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

li {
    line-height: 1.3;
}